/* reset */
*{
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}
body{
  background-color: rgba(46, 74, 166, 0.183);
  padding: 10vw 0vw 5vw;
}


.listMovies{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.paginationButtons {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(25, 44, 107);
}